

h1 {
  color: blue;
}
body {
}

h1, h2 {
  text-align: center;
}



li {
  display: inline;
}


a {
  overflow: hidden;
}

 a {
  color: green;
  text-decoration: none;
}

li :hover {
  color: yellow;
  background-color: green;
  border-radius: 10px 10px 10px 10px;
}


ul {
  border: 2px solid blue;
  border: 4px solid yellow;
  border-radius: 20px 20px 0px 0px;
  list-style-type: none;
  text-align: left;
  background-color: yellow;
}

td, th {
  color: blue;
  border-style: outset;
  border-color: purple;
  border-width: 2px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0px;
  padding: 10px;
}

div {
  border: 2px solid blue;
  border: 4px solid yellow;
  border-radius: 0px 0px 20px 20px;
  list-style-type: none;
  text-align: left;
  background-color: yellow;
}

#ArtikelCoderclass {
  float: right;
}
